body {
  background-image: url(/image/Background.jpg);
  max-width: 800px;
  margin: auto;
}
.box {
  display: block;
  text-align: center;
  background-color: #fce1e1;
  width: 600px;
  margin: 80px;
  padding: 30px;
  border-radius: 5px;
}
p {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 150px;
}
a {
  text-decoration: underline;
  color: #d29928;
}
